.sidenav{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    border:4px solid cadetblue;
    border-radius:3px;
    overflow-x: hidden;
    padding-top:40px;
    text-align: center;
    transition:0.5s;
    z-index:100;
}
.sidenav a{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color:none;
    display:block;
    font-size:20px;
    transition:0.3s;
    padding:10px;
    cursor:pointer;
 }
.sidenav a:hover{
    text-decoration:none;
    opacity: 0.8;
}
.sidenav #closebtn{
    padding: 0px;
    position: absolute;
    top:0;
    right:25px;
    font-size:35px;
}
#navbar{
    width:100%;
    position:fixed;
    top:0;
    border:2px solid cadetblue;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    z-index:1;
} 
#innersidemenu{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
#slidercontainer2{
    float:right;
    position:relative;
}
#sidetogglebutton{
    width:40px;
    height:10px;
    border-radius:5px;
    cursor:pointer;
    transition: all 1.5s;
}
#open{
    color:cadetblue;
    cursor:pointer;
    float: right;
    position:relative;
    margin:0px;
    padding:0px;
    border-radius: 3px;
}
#navigationrow{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
#navbrandcontainer{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
#navbrand{
    text-decoration:none;
    color:cadetblue;
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    margin:0px;
    padding:10px;
}
#menu li{
    display:inline;
    padding:5px 20px;
    margin-left: 20px;
}
.menu_links{
    text-decoration: none;
    font-size: 20px;
    border:none;
    color:rgb(95,158,160);
    transition: all 0.2s;
}
.menu_links:hover{
    text-decoration:none;
    font-size:20px;
    color:rgba(95,158,160, 0.9);
    padding-bottom:5px;
    border-bottom:2px solid cadetblue;
}
.active_menu_links{
    text-decoration:none;
    border:none;
    font-size:20px;
    color:rgba(95,158,160, 0.9);
    padding-bottom:5px;
    border-bottom:2px solid cadetblue;
}
.active_menu_links:hover{
    text-decoration:none;
    font-size:20px;
    color:rgba(95,158,160, 0.9);
    padding-bottom:5px;
    border-bottom:2px solid cadetblue;
}
#togglebutton{
    width:40px;
    height:10px;
    display: inline-block;
    border-radius:5px;
    cursor:pointer;
    transition: all 1.5s;
}
#slider{
    width:50%;
    height:20px;
    display: inline-block;
    border-radius:50%;
    position:relative;
    bottom:50%;
    left:100%;
    transform:translateX(-100%);
    cursor:pointer;
    transition:all 0.5s;
}
#home{
    font-family: Arial, Helvetica, sans-serif;
    border:3px solid blue;
    z-index:-1;
}
#rocket{
    width:30px;
    height:40px;
    position:fixed;
    bottom:60px;
    right:30px;
    animation: bounce 0.5s infinite alternate;
    cursor:pointer;
    z-index:99;
}
@-webkit-keyframes bounce{
    0% {
         transform :translateY(3px);
    }
    100% {
        transform:translateY(-3px);
    }
}
@keyframes bounce{
    0% {
         transform :translateY(3px);
    }
    100% {
        transform:translateY(-3px);
    }
}
#rocketbody{
    width:20px;
    height:40px;
    border:1px solid cadetblue;
    background-color: gainsboro;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
#rocketwingleft{
    width:20px;
    height:20px;
    border:1px solid cadetblue;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;
    background-color: gainsboro;
    position:absolute;
    top:100%;
    right:30%;
    transform:translate(-30%, -100%);
    z-index:-12;
}
#rocketwingright{
    width:20px;
    height:20px;
    border:1px solid cadetblue;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%;
    background-color: gainsboro;
    position:absolute;
    top:100%;
    right:-50%;
    transform:translate(-50%, -100%);
    z-index:-12;
}
#exhaust{
    width:15px;
    height:5px;
    border-radius:5px;
    background-color:burlywood;
    position:absolute;
    top:110%;
    left:50%;
    transform:translate(-50%, -110%);
}
#flame{
    width:15px;
    height:40px;
    border-radius:2px;
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%, -30%);
    animation: flame 0.2s infinite;
}
@keyframes flame{
    0%{
      background-image: linear-gradient(to bottom, transparent 10%, cadetblue 100%);
    }
    100%{
      background-image: linear-gradient(to bottom, transparent 20%, cadetblue 100%);
    }
}
#innerhomecontent{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#contactbtnlink{
    text-decoration:none;
}
#contactbtnlink:hover{
    text-decoration:none;
}
#contactbtn{
    text-align:center;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    background: cadetblue;
    border-color: cadetblue;
    color:white;
    outline:none;
}
#profile{
    color:cadetblue;
    outline:none;
}
#Name{
    width: 100%;
    padding:10px;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
}
#nametext{
     font-size:32px;
     animation:change 2s infinite alternate;
}
#designation{
    font-size:26px;
    animation:change 2s infinite alternate;
}

#border{
    margin-bottom:5px;
    width:100px;
    height:0px;
    border-bottom:3px solid cadetblue;
    border-radius:3px;
    animation: expand1 2s infinite alternate;
}

@-webkit-keyframes  expand1{
   0% {
        width:0px;
        height:0px;
   }
   100% {
      width:100px;
      height:0px;
   }
}
@keyframes expand1 {
    0% {
        width:0px;
        height:0px;
   }
   100% {
      width:100px;
      height:0px;
   }
}
#homeimage{
    width:100%;
    border-radius: 50%;
    z-index:1;
    animation:move 2s infinite alternate;
}
@-webkit-keyframes move {

    0% {
        transform :translateY(10px);
    }
    100% {
        transform:translateY(-10px);
    }
}
  

@keyframes move {

  0% {transform :translateY(10px);}
  100% {transform:translateY(-10px);}
}
#imageshadow{
     border-radius: 50%;
     background-color:gainsboro;
     height:30px;
     margin-bottom:20px;
     box-shadow:0px 2px 3px 4px gainsboro;
     z-index:-1;
}
.heading{
    color:cadetblue;
}
.headborder{
    width:60px;
    height:0px;
    border-bottom:3px solid cadetblue;
    border-radius:3px;
    animation: expand1 2s infinite alternate;
}
#about{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
#aboutimage{
    width:300px;
}
#aboutimageshadow{
    border-radius: 50%;
    background-color:gainsboro;
    height:30px;
    width:300px;
    margin-bottom:20px;
    box-shadow:0px 2px 3px 4px gainsboro;
}
#abouttext{
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.marks{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#acadyear{
    font-size:32px;
    position: relative;
    top:50%;
    transform:translateY(-50%); 
}
.acadname{
    font-size:20px;
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
#skill{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
#skillslist{
     list-style: none;
     margin:0px;
     padding:0px;
}
#skillslist li {
    font-size: 30px;
    border:2px solid cadetblue;
    border-radius:5px;
    margin-bottom: 30px;
} 
#projectscontainer{
    font-family: Arial, Helvetica, sans-serif;
    border:4px solid cadetblue;
    border-radius: 5px;
    z-index:0;
}
.img-fluid{
    border-radius:2px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption{
    font-size:10px;
    position:absolute;
    right:15%;
    bottom:0px;
    left:15%;
    z-index:10;
    padding-top:0px;
    padding-bottom:0px;
    color:#fff;
    text-align:bottom;
}
.carousel-control-prev-icon{
    width:30%;
    height:30%;
}
.carousel-control-next-icon{
    width:30%;
    height:30%;
}

#contact{
    font-family: Arial, Helvetica, sans-serif;
}
#contactInput{
    background-color:gainsboro;
}
#infosubmitbtn{
    text-align:center;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    background: cadetblue;
    border-color: cadetblue;
    color:white;
    outline:none;
}
#footer{
    border:2px solid cadetblue;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
#footerText{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

@media screen and (max-width : 360px){
    #sidemenu{
        display:block;
    }
    #menubar{
        display:none;
    }
    #navbar{
        height:60px;
    }
    #navbrand{
        font-size:22px;
    }
    #open{
        font-size: 22px;
    }
    #homecontent{
        margin-top:70px;
    }
    #contactbtn{
        position:relative;
        left:50%;
        transform:translateX(-50%);
    }
    #homeimagegrid{
        display: block;
    }
    #border{
        display:none;
    }
    #nametext{
        font-size:22px ;
    }
    #designation{
        font-size:20px;
    }
    #contactbtn{
        position:relative;
        left:50%;
        transform:translateX(-50%);
    }
    .heading{
        font-size:26px;
    }
    #aboutcontent{
        margin-top:70px;
    }
    #abouttext{
        font-size:16px;
        line-height:18px;
    }
    #acadyear{
        font-size:18px;
        margin:0px;
        padding:0px;
    }
    .marks{
        width:80%;
        height:80%;
    }
    .acadname{
        font-size:14px;
        line-height:18px;
    }
    #skillcontent{
        margin-top:70px;
    }
    #skillslist li{
        font-size:20px;
    }
    #projectcontent{
        margin-top: 80px;
    }
    #contactcontent{
        margin-top:70px;
        margin-bottom:70px;
    }
    #skill ol{
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #skillslist li {
        font-size:20px;
    } 
}
@media screen and (min-width : 360px) and (max-width : 768px){
    #sidemenu{
        display:block;
    }
    #menubar{
        display:none;
    }
    #navbar{
        height:75px;
    }
    #navbrand{
        font-size:26px;
    }
    #open{
        font-size:27px;
    }
    #homecontent{
        margin-top:85px;
    }
    #homeimagegrid{
        display: block;
    }
    #border{
        display:none;
    }
    #nametext{
        font-size:27px ;
    }
    #designation{
        font-size:24px;
    }
    #contactbtn{
        position:relative;
        left:50%;
        transform:translateX(-50%);
    }
    .heading{
        font-size:31px;
    }
    #aboutcontent{
        margin-top: 85px;
    }
    #abouttext{
        font-size:21px;
        line-height:23px;
    }
    #acadyear{
        font-size:22px;
        margin:0px;
        padding:0px;
    }
    .marks{
        width:75%;
        height:75%;
    }
    .acadname{
        font-size:17px;
        line-height:23px;
    }
    #skillcontent{
        margin-top: 85px;
    }
    #skill ol{
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #skillslist li{
        font-size:22px;
    }
    #projectcontent{
        margin-top:85px;
    }
    #contactcontent{
        margin-top:85px;
        margin-bottom:85px;
    }
}
@media screen and (min-width : 768px) and (max-width : 768px){
    #contactbtn{
        position: relative;
        left:0%;
        transform: translateX(0%);
    }
}
@media screen and (min-width : 768px) and (max-width : 992px){
    #sidemenu{
        display:none;
    }
    #menubar{
        display:block;
    }
    #navbar{
        height:90px;
    }
    #navbrand{
        font-size:27px;
        margin:0px 5px;
        position:relative;
        top:10%;
    }
    #menu li{
        padding:5px 10px;
        margin-left:0px;
        margin-right:5px;
    }
    #slidercontainer{
        margin-left:5px;
    }
    #homecontent{
        margin-top:110px;
    }
    #border{
        display:block;
    }
    #nametext{
        font-size:27px;
    }
    #designation{
        font-size:23px;
    }
    .heading{
        font-size:31px;
    }
    #aboutcontent{
        margin-top:90px;
    }
    #abouttext{
        font-size:21px;
        line-height:22px;
    }
    #acadyear{
        font-size:22px;
        margin:0px;
        padding:0px;
    }
    .marks{
        width:80%;
        height:80%;
    }
    .acadname{
        font-size:20px;
        line-height:21px;
    }
    #skillcontent{
        margin-top:90px;
    }
    #skill ol{
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #skillslist li{
        font-size:22px;
    }
    #projectcontent{
        margin-top:90px;
    }
    #contactcontent{
        margin-top:100px;
        margin-bottom:90px;
    }
}
@media screen and (min-width : 992px) and (max-width: 1200px){
    #sidemenu{
        display:none;
    }
    #menubar{
        display:block;
    }
    #navbar{
        height:90px;
    }
    #navbrand{
        font-size:28px;
        margin-left:5px;
        position:relative;
        top:10%;
    }
    #menu li{
        padding:5px 15px;
        margin-left:0px;
        margin-right:5px;
    }
    #menu_links{
        font-size:24px;
    }
    #open{
        font-size:28px;
    }
    #homecontent{
        margin-top:110px;
    }
    #border{
        display:block;
    }
    #homeimage{
        width:90%;
    }
    #nametext{
        font-size:27px ;
    }
    #designation{
        font-size:24px;
    }
    .heading{
        font-size:31px;
    }
    #aboutcontent{
        margin-top:90px;
    }
    #abouttext{
        font-size:21px;
        line-height:23px;
    }
    #acadyear{
        font-size:24px;
        margin:0px;
        padding:0px;
    }
    .marks{
        width:80%;
        height:80%;
    }
    .acadname{
        font-size:20px;
        line-height:23px;
    }
    #skillcontent{
        margin-top:90px;
    }
    #skill ol{
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #skillslist li{
        font-size:24px;
    }
    #projectcontent{
        margin-top:90px;
    }
    #contactcontent{
        margin-top:100px;
        margin-bottom:90px;
    }
}
@media screen and (min-width : 1200px){
    #sidemenu{
        display:none;
    }
    #menubar{
        display:block;
    }
    #navbar{
        height:100px;
    }
    #navbrand{
        font-size:32px;
        margin-left:20px;
    }
    #menu li{
        padding:5px 15px;
        margin-left:0px;
        margin-right:10px;
    }
    #menu_links{
        font-size:31px;
    }
    #slidercontainer{
        margin:0px;
        margin-right:10px;
    }
    #open{
        font-size:28px;
    }
    #homecontent{
        margin-top:130px;
    }
    #homeimage{
        width:90%;
    }
    #border{
        display:block;
    }
    #nametext{
        font-size:28px ;
    }
    #designation{
        font-size:26px;
    }
    .heading{
        font-size:32px;
    }
    #aboutcontent{
        margin-top:100px;
    }
    #abouttext{
        font-size:21px;
        line-height:23px;
    }
    #acadyear{
        font-size:26px;
        margin:0px;
        padding:0px;
    }
    .marks{
        width:90%;
        height:90%;
    }
    .acadname{
        font-size:22px;
        line-height:23px;
    }
    #skillcontent{
        margin-top:100px;
    }
    #skill ol{
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #skillslist li{
        font-size:26px;
    }
    #projectcontent{
        margin-top:100px;
    }
    #contactcontent{
        margin-top:110px;
        margin-bottom:95px;
    }
}